p{
  position: absolute;
  width: 1214px;
  height: 369px;
  left: 112px;
  top: 961px;

  font-family: 'Alata';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 130%;
  /* or 52px */


  color: #000000;

    background-color: #ADD8E6


  }






.borda4{
  /* Rectangle 4 */


position: absolute;
width: 1440px;
height: 80px;
left: 0px;
top: 0px;

background: #36598C;
}

.borda3{
  /* Rectangle 3 */


  position: absolute;
  width: 80px;
  height: 1949px;
  left: 1360px;
  top: 47px;

  background: #36598C;
}

.borda2{
  /* Rectangle 2 */


position: absolute;
width: 80px;
height: 1916px;
left: 0px;
top: 80px;

background: #36598C;
}

.borda {
  /* Rectangle 1 */


position: absolute;
width: 1440px;
height: 80px;
left: 0px;
top: 1968px;

background: #36598C;
}




h1{

  position: absolute;
  width: 503px;
  height: 80px;
  left: 555px;
  top: 470px;

  font-family: 'Almendra SC';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 130%;
  /* or 62px */


  color: #283291;



}





h4{
  position: absolute;
  width: 991px;
  height: 118px;
  left: 340px;
  top: 1819px;

  font-family: 'Alegreya SC';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 130%;
  /* or 62px */


  color: #000000;


}

h2{
  /* Escola */


  position: absolute;
  width: 1280px;
  height: 617px;
  left: 80px;
  top: 130px;

  font-family: 'Alegreya SC';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 130%;
  /* or 62px */


  color: #000000;
background-color: 	#87CEEB
}

h3{
  /* Vida pessoal */


  position: absolute;
  width: 452px;
  height: 179px;
  left: 539px;
  top: 130px;

  font-family: 'Alegreya SC';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 130%;
  /* or 62px */


  color: #000000;


}

h5{
  /* Coisas que gosto */


  position: absolute;
  width: 369px;
  height: 62px;
  left: 977px;
  top: 99px;

  font-family: 'Alegreya SC';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 130%;
  /* or 62px */


  color: #000000;
}

h6{
  position: absolute;
  width: 167px;
  height: 26px;
  left: 644px;
  top: 1911px;

  font-family: 'Alegreya SC';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  /* identical to box height, or 26px */


  color: #000000;
position: absolute;
width: 316px;
height: 334px;
left: 162px;
top: 346px;


}


footer{

  position: absolute;
width: 1011px;
height: 209px;
left: 227px;
top: 1759px;

font-family: 'Alegreya SC';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 130%;
/* or 62px */


color: #000000;

background-color: #ADD8E6


}

img{

  position: absolute;
  width: 384px;
  height: 401px;
  left: 112px;
  top: 346px;
}
