img{
  /* IMG_20221224_192706_606 1 */


position: absolute;
width: 320px;
height: 413.48px;
left: 128px;
top: 718px;

}

.borda4{
  /* Rectangle 4 */


position: absolute;
width: 1440px;
height: 80px;
left: 0px;
top: 0px;

background: #36598C;
}

.borda3{
  /* Rectangle 3 */


  position: absolute;
  width: 80px;
  height: 1949px;
  left: 1360px;
  top: 47px;

  background: #36598C;
}

.borda2{
  /* Rectangle 2 */


position: absolute;
width: 80px;
height: 1916px;
left: 0px;
top: 80px;

background: #36598C;
}

.borda {
  /* Rectangle 1 */


position: absolute;
width: 1440px;
height: 80px;
left: 0px;
top: 1968px;

background: #36598C;
}

p{
  position: absolute;
width: 842px;
height: 548px;
left: 495px;
top: 651px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 130%;
/* or 52px */


color: #000000;

}

h1{
  /* camila schonarth */


  position: absolute;
  width: 757px;
  height: 353px;
  left: 341px;
  top: 183px;

  font-family: 'Almendra SC';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 130%;
  /* or 83px */


  color: #31D1DB;

}

.retângulo{
  /* Rectangle 5 */


position: absolute;
width: 366px;
height: 461px;
left: 105px;
top: 672px;

background: #00008B;
}

.circulo1{
  /* Ellipse 1 */


  position: absolute;
  width: 47px;
  height: 49px;
  left: 241.53px;
  top: 231.5px;

  background: #36598C;
}

.circulo2{
  /* Ellipse 2 */


position: absolute;
width: 47px;
height: 49px;
left: 1162px;
top: 230.06px;

background: #36598C;
}

.linha1{
  /* Line 1 */


position: absolute;
width: 871px;
height: 0px;
left: 284px;
top: 320.06px;

border: 1px solid #00008B;
transform: rotate(-0.13deg);
}

.linha2{
  /* Line 2 */


position: absolute;
width: 871px;
height: 0px;
left: 284px;
top: 195.06px;

border: 1px solid #00008B;
transform: rotate(0deg);
}

h4{
  position: absolute;
  width: 991px;
  height: 118px;
  left: 284px;
  top: 1799px;

  font-family: 'Alegreya SC';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 130%;
  /* or 52px */


  color: #000000;


}
